html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}

hr{
  border: none;
  border-bottom: 7px dotted #EAF6F6;
  width: 100px;
  margin: 100px auto;
}
/********** Div Selectors ****************/

h1{
font-family: 'Sacramento', cursive;
font-size: 3rem;
color: #66BFBF;

}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;

}
p{
  color: #40514E;
}
/******************** Classes **********************/
.top-container{
  margin: 0 0 100px 0;
  background-color: #ecfcff;
  position: relative;
  padding-top: 100px;
}

.title{
  padding-top: 5.62rem;
  font-weight: lighter;
  font-size: 5rem;
  margin: 50px auto 0 auto;
}
.sub-title{
  font-weight: normal;
}
.sub-title span{
  text-decoration: underline;
}
.top-cloud{
  position: absolute;
  right: 25%;
}

.bottom-cloud{
  position: absolute;
  left: 25%;
}

/******************** Middle Container **********************/
.middle-container{
  margin-bottom: 75px;
}

.skill-row{
  display: inline-block;
  width: 50%;
  margin: 100px auto 0 auto;
  text-align: left;
  line-height: 2;

}

.skill-img{
  width: 25%;
  float: left;
  margin-right: 30px;

}
.skillImg-challenge{
  width: 25%;
  float: right;
  margin-right: 30px;
}
.img-profile{
  border-radius: 50%;
  width: 225px;

}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0;
}
.footer-link{
  color: #11999E;
  margin: 0 50px;
}
.contact-me{
  line-height: 2;
}
.contact-me p{
  width: 40%;
  margin: 40px auto 60px;
}

.bottom-container >p{
  color: #EAF6F6;
  margin-top: 50px;
}
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 23px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}
/******** Clear Wrap from the paragraph *************/
/* .code-skill-description{
  clear: left;
}
.chilli-skill-description{
  clear: right;
} */
